@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply bg-[#121212] text-gray-100; /* or text-white, as you prefer */
  margin: 0;
  padding: 0;
} 
.maze-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center in viewport */
  background-color: #ddd; /* Light background to highlight maze */
}

.maze-container {
  display: grid;
  gap: 0px;
  background-color: white; /* No excess black around the maze */
  padding: 5px;
  border: 2px solid black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.maze-cell {
  width: 10px;
  height: 10px;
}

.wall {
  background: black;
}

.path {
  background: white;
}

/* In your CSS file (e.g., globals.css or Maze.css) */
.hover-white-shadow:hover {
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.7);
}

.white-shadow{
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.7);
}